{% extends 'base.html' %}

{% block title %}
    User Page
{% endblock %}

{% block content %}
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">User Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Senha</th>
                <th scope="col">Balance</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password_hash }}</td>
                <td>{{ user.balance }}</td>
                <td>
                    {% include 'includes/users_modals.html' %}
                    {{ password_form.hidden_tag() }}
                    <button class="btn btn-outline btn-info" data-toggle="modal"
                        data-target="#Modal-ChangePassword-{{ current_user.id }}">Change Password</button>

                    {% include 'includes/users_modals.html' %}
                    {{ deposit_form.hidden_tag() }}
                    <button class="btn btn-outline btn-success" data-toggle="modal"
                        data-target="#Modal-DepositAmount-{{ user.id }}">Make a Deposit</button>
                    
                    {% include 'includes/users_modals.html' %}
                    {{ delete_form.hidden_tag() }}
                    <button class="btn btn-outline btn-danger" data-toggle="modal"
                        data-target="#Modal-DeleteUser-{{ user.id }}">Delete Account</button>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock%}